* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

div,
p,
li,
ol,
span,
a,
input,
textarea {
    font-size: 14px;
    font-family: 'eafont', 'Hiragino Sans GB', 'Hiragino Sans GB W3',
        'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}

#app {
    border-radius: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.box-card {
    margin: 10px 0;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}